<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
</head>
<body>
<h1>详情 页面</h1>
<h3><a href="{% url 'booktest:index' %}">返回首页</a></h3>
<h3>当前书籍：{{ book.title }}</h3>
{% if book.heroinfo_set.count %}
<h3>拥有角色</h3>
<ul>
    {% for hero in book.heroinfo_set.all %}

    <li>{{ hero.name }} -- {{ hero.skill }}
        <a href="{% url 'booktest:deletehero' hero.id %}">删除</a></li>
        {% endfor %}
</ul>
{% else %}
    <h3>没有角色</h3>
{% endif %}

<a href="{% url 'booktest:addhero' book.id %}">添加角色</a>
</body>
</html>